h1{
    text-align: center;
    color: antiquewhite;
    font-style: oblique;
    background-color: #189399;
    padding: 5px
}

figcaption{
    color: #189399;
    font-size: 170%;
}

a{
    width: 40%;
    display: inline-block;
    margin: 4%;
    text-align: center;
}


h2{
    text-align: center;
    color: #189399;
}

img{
    width: 90%;
    padding: 4%;
    border: 3%;
    background-color: antiquewhite;
    margin: 5%;
    display: inline-block;
    text-align: center;
}

#result{
    width: 30%;
    padding: 0px;
}

#rps{
    padding-bottom: 10%;
    padding-top: 10%
}

img.active{
  background-color: antiquewhite;
}

img:hover:not(.active){
  background-color: #189399;
}

div{
    text-align: center;
    height: 150px;
}
.box{
    display: inline-block;
    width:120px;
    height:120px;
    background-color: rgb(228,247,255);
    margin: 10px;
}

.box.active{
  background-color:rgb(228,247,255);
}

.box:hover:not(.active){
  background-color: #189399;
}

.rps{
    width: 20%;
    margin: 2%;
    display: inline-block;
}

#add{
    margin-top: 100px;
}

.ooo, .xxx{
    padding: 0px;
    width: 120px;
    height: 120px;
}
